- name: install common tools
{% if ansible_distribution == "CentOS" %}
  yum:
{% elif ansible_distribution == "Debian "%}
  apt:
{% endif %}
    name: ['vim','python3','curl','wget','net-tools']
    state: present