- name: get distro name
  debug:
    msg: "You currently using {{ ansible_distribution }} distro."

- name: install common tools
{% if ansible_distribution == "CentOS" %}
  yum:
    name: ['vim','python3','curl','wget','net-tools']
{% elif ansible_distribution == "Debian" %}
  apt:
    name: ['vim','python3','curl','wget','net-tools','htop']
{% elif ansible_distribution == "Slackware" %}
  community.general.slackpkg:
    name: ['vim','python3','curl','wget','net-tools','htop']
{% endif %}
    state: present