#version=RHEL8
ignoredisk --only-use=sda
#autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
#autopart
part /boot --fstype=ext4 --size=1024 --label=centos_boot 
part / --fstype=ext4 --grow --label=centos_root
# use one partition for system and data (and no swap)
# Installation source media
#url --url="ftp://10.10.10.53/pub/"
# Use graphical install
text
# create deploy user
user --name=deploy --shell=/bin/bash --homedir=/home/deploy
# --iscrypted --password=$6$gmfEP4OqLuCfkL8A$qo66O5caD8C2xo9qj71AmEZiNNm67kgijR/99E4IqKNNpmkIo28iyTqkqbv.vN3GLgXhmHNpUVJX2gAes6xW6/
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=dhcp --device=ens192 --ipv6=auto --activate
#network  --hostname=localhost.localdomain
network --bootproto=static --ip=10.10.10.20 --netmask=255.255.255.0 --gateway=10.10.10.2 --nameserver=10.10.10.2 --device=ens192
network --hostname=pxe-prod.home.labs
# Root password
rootpw --iscrypted $6$Nx8Il0GJ15HUeT3b$n4L74QVAu045lYeVjJNWrePSqP4JXOJW5gOTf6uJzwo/NougWK4vIVvl/KJuzftDSabi6ycHFPkJuVZ1boCFw1
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Vienna --isUtc
%packages
#@^minimal-environment
#kexec-tools

%end

#%addon com_redhat_kdump --enable --reserve-mb='auto'

#%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --interpreter=/usr/bin/bash --log=/var/log/ks_bash_post.log

/usr/bin/curl https://raw.githubusercontent.com/leemenix/os_init/main/linux/centos_init.sh >> /root/centos_init.sh
/usr/bin/chmod +x /root/centos_init.sh

/usr/bin/echo "deploy        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers

/usr/bin/cat > /etc/systemd/system/init_os.service << EOF
[Unit]
Description=Bootstrap OS

[Service]
Type=oneshot
ExecStart=/bin/sh -c "/root/centos_init.sh >> /var/log/centos_init.sh.log"

[Install]
WantedBy=multi-user.target
EOF

#/etc/systemd/system/multi-user.target.wants/init_os.service → /etc/systemd/system/init_os.service
/usr/bin/systemctl enable init_os
%end
reboot